/* MAIN SECTION */
main {
   margin-top: 60px;
   color: var(--alt-color-3);
}

/* PROCESS HEADER SECTION */
.header-parent {
   width: 100dvw;
   height: 40dvh;
   background-image: url(/Photos/family_based.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   display: flex;
   align-items: center;
   justify-content: center;
}

.header-container {
   width: 100%;
   height: 100%;
   background-color: rgba(0, 70, 70, 0.75);
   display: flex;
   align-items: center;
   justify-content: center;
}

.header-content {
   width: 100%;
   padding-inline: var(--mobile-padding-inline);
}

.header-content h1 {
   font-size: var(--hero-header);
   font-family: "Lora", serif;
   color: var(--white);
}

.header-content h1 span {
   color: var(--main-color);
   font-size: var(--hero-header);
   font-family: "Lora", serif;
}


/* PROCESS STEPS SECTION */
.steps-parent {
   width: 100dvw;
}

.steps-container {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.steps-content {
   width: 100%;
   padding: 50px;
   padding-inline: var(--mobile-padding-inline);
   display: flex;
   flex-flow: column;
   gap: var(--gap-2rem);
}

.steps-header h1 {
   font-size: var(--main-header);
   color: var(--alt-color-2);
   font-family: "Lora", serif;
}

.steps-header p:first-child {
   font-style: italic;
}

.steps-header p:last-child {
   line-height: 1.6;
}

.steps-description {
   display: flex;
   flex-flow: column;
   gap: var(--gap-3rem);
}

.steps-card {
   display: flex;
   flex-flow: column;
   gap: var(--gap-point5rem);
}

.steps-card-header {
   aspect-ratio: 16/9;
   padding: 10px;
   background-color: var(--main-color-3);
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: var(--gap-1rem);
   position: relative;
}

.steps-card-header h1 {
   color: var(--white);
   font-size: var(--main-header);
   text-align: center;
}

.steps-card-header h1:first-child {
   position: absolute;
   top: 0;
   left: 0;
   padding: inherit;
}

.steps-card-header h1:last-child {
   line-height: 1;
}

.steps-card p {
   line-height: 1.6;
}

.steps-conclusion {
   padding: 10px;
   background-color: var(--main-color-3);
   display: flex;
   flex-flow: column;
   border-radius: 5px;
   gap: var(--gap-2rem);
}

.steps-conclusion p {
   line-height: 1.6;
   color: var(--white);
   font-weight: 600;
}

.link:link,
.link:visited {
   text-align: center;
   padding: 10px;
   color: var(--white);
   font-weight: 600;
   border-radius: 5px;
   background-color: var(--alt-color-2);
   text-decoration: none;
   transition: var(--gen-transition);
}

.link:hover,
.link:active {
   background-color: var(--white);
   color: var(--alt-color-2);
}

@media screen and (min-width: 720px) {

   /* PROCESS HEADER SECTION */
   .header-content {
      padding-inline: var(--tablet-padding-inline);
   }

   .header-content h1 {
      font-size: var(--tablet-hero-header);
   }

   .header-content h1 span {
      font-size: var(--tablet-hero-header);
   }

   /*  PROCESS STEPS SECTION  */
   .steps-content {
      padding-inline: var(--tablet-padding-inline);
   }

   .steps-header h1 {
      font-size: var(--hero-header);
   }

   .steps-description {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
   }
}

@media screen and (min-width: 980px) {

   /* PROCESS HEADER SECTION */
   .header-parent {
      height: 60dvh;
   }

   .header-content {
      max-width: 1280px;
      padding-inline: var(--laptop-padding-inline);
   }

   .header-content h1 {
      font-size: var(--laptop-hero-header);
   }

   .header-content h1 span {
      font-size: var(--laptop-hero-header);
   }

   /*  PROCESS STEPS SECTION  */
   .steps-content {
      max-width: 1280px;
      padding-inline: var(--laptop-padding-inline);
   }

   .steps-description {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
   }
}