@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');



* {
   padding: 0;
   margin: 0;
   color: white;
   box-sizing: border-box;
   scroll-behavior: smooth;
   
   font-family: 'Poppins', sans-serif;
   /* outline: 1px solid var(--alt-color); */
}

body {
   width: 412px;
   height: 912px;
   background-color: black;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
}

.message_section {
   width: 80%;
   gap: 5px;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
}

.button-container {
   width: 75%;
   height: 75px;

   position: relative;
}

.button-container button {
   width: 40%;
   height: 35px;
   font-size: 20px;
   border-radius: 5px;
   background-color: transparent;
}

#yesButton {
   top: 25%;
   left: 20px;
   position: absolute;
   border: 1px solid green;
}
#noButton {
   top: 25%;
   right: 20px;
   position: absolute;
   border: 1px solid red;
}