b {
   color: red;
}

main {
   width: 100dvw;
   display: flex;
   flex-flow: column;
   gap: var(--gap-2rem);
}

.main_left {
   padding-top: 100px;
   padding-bottom: 25px;
   padding-inline: var(--mobile-padding-inline);
   background-color: var(--alt-color-2);
   color: var(--white);
}

.main_left img {
   width: 100%;
   max-width: 150px;
   aspect-ratio: 1/1;
   object-fit: cover;
   object-position: center;
   border-radius: 5px;
}

.main_right {
   padding-inline: var(--mobile-padding-inline);
}

form {
   display: flex;
   flex-flow: column;
   gap: var(--gap-2rem);
}

.personal_info,
.contact_info,
.file_upload,
.eligibility_section,
.privacy_policy {
   padding: 25px 15px;
   border-radius: 5px;
   border: 2px solid var(--main-color-3);
   display: flex;
   flex-flow: column;
   gap: var(--gap-1rem);
}

.personal_info label,
.contact_info label,
.file_upload label,
.eligibility_section label,
.privacy_policy label {
   font-weight: 600;
}

.name_fields,
.address_fields,
.profession_fields,
.contact_fields,
.file_fields,
.eligibility_confirmation {
   display: flex;
   flex-flow: column;
}

.contact_fields,
.file_fields,
.eligibility_confirmation {
   gap: var(--gap-1rem);
}

.name_inputs,
.address_inputs,
.profession_inputs {
   width: 100%;
   display: flex;
   flex-flow: column;
   gap: var(--gap-1rem);
}

.name_inputs {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}

.name_fields input,
.address_fields input,
.profession_fields input,
.phone_input input,
.email_input input {
   width: 100%;
   font-size: 15px;
   background-color: transparent;
   border: 1px solid transparent;
   border-bottom: 2px solid var(--alt-background-color-2);
   transition: all 0.1s;
}

.name_fields input:focus-visible,
.address_fields input:focus-visible,
.profession_fields input:focus-visible,
.phone_input input:focus-visible,
.email_input input:focus-visible {
   font-size: 15px;
   background-color: transparent;
   border: 1px solid transparent;
   border-bottom: 2px solid var(--main-color-3);
   transition: all 0.1s;
   outline: transparent;
}

.address_fields select,
.profession_fields select {
   width: 100%;
   padding: 5px;
   font-size: 15px;
   border-radius: 5px;
   background-color: white;
   border: 2px solid var(--alt-background-color-2);
}

.address_fields select option,
.profession_fields select option {
   background-color: transparent;
}

.file_container {
   position: relative;
   border: 2px dashed #ccc;
   text-align: center;
   padding: 20px;
   transition: border-color 0.3s;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
}

.file_container.uploaded {
   border-color: #4caf50;
}

.file_input_field {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   opacity: 0;
}

.file_name:empty {
   display: none;
}

.file_name {
   margin-top: 10px;
   font-weight: bold;
}

.category_images {
   height: 562px;
   position: relative;
   overflow: scroll;
}

.eligibility_section img {
   height: 562px;
   position: absolute;
   top: 0;
   left: 0;
}

.eligibility_fields {
   display: flex;
   gap: 20px;
}

.yes_button input[type="radio"],
.no_button input[type="radio"] {
   display: none;
}

.yes_button label,
.no_button label {
   cursor: pointer;
   font-size: 16px;
   position: relative;
   padding-left: 30px;
}

.yes_button label::before,
.no_button label::before {
   content: "";
   width: 20px;
   height: 20px;
   border-radius: 50%;
   border: 1px solid #000;
   background-color: #fff;
   position: absolute;
   left: 0;
}

.yes_button input[type="radio"]:checked+label::before,
.no_button input[type="radio"]:checked+label::before {
   background-color: gold;
}

.yes_button label:hover::before,
.no_button label:hover::before {
   border-color: #555;
}

.yes_button label:hover,
.no_button label:hover {
   color: #555;
}

.terms_and_conditions {
   display: flex;
   gap: 10px;
}

input[type=submit] {
   padding: 15px;
   border-radius: 5px;
   background-color: var(--main-color-3);
   color: var(--white);
   border: 2px solid transparent;
   cursor: pointer;
   font-weight: 600;
   transition: var(--gen-transition);
}

input[type=submit]:hover,
input[type=submit]:active {
   border: 2px solid var(--main-color-3);
   color: var(--alt-color-3);
   background-color: var(--white);
}

@media screen and (min-width: 720px) {
   .main_left {
      padding-inline: var(--tablet-padding-inline);
   }

   .main_right {
      padding-inline: var(--tablet-padding-inline);
   }

   .contact_fields,
   .file_fields {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--gap-2rem);
   }

   .name_inputs {
      gap: var(--gap-2rem);
   }

   .category_images {
      height: 720px;
   }

   .eligibility_section img {
      height: 720px;
   }
}

@media screen and (min-width: 980px) {
   main {
      margin-top: 60px;
      gap: 0;
      position: relative;
      display: grid;
      grid-template-columns: auto 65%;
   }

   .main_left {
      height: 100dvh;
      padding-top: 25px;
      padding-inline: var(--laptop-padding-inline) 37.5px;
      position: sticky;
      top: 60px;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
   }

   .main_right {
      padding: 25px;
      padding-inline: var(--laptop-padding-inline);
   }

   .category_images {
      height: 980px;
   }

   .eligibility_section img {
      height: 980px;
   }

   footer {
      margin-top: 0 !important;
   }
}