body {
   width: 100dvw;
   height: 100dvh;
   background-image: url(/Photos/login-register.jpg);
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
}

main {
   width: 100%;
   height: 100%;
   background-color: rgba(0, 77, 77, 0.75);
   padding-inline: var(--mobile-padding-inline);
   display: flex;
   align-items: center;
   justify-content: center;
}

.form {
   width: 100%;
   max-width: 480px;
   aspect-ratio: 3/4;
   padding: 30px;
   border-radius: 5px;
   border: 2px solid var(--main-color-3);
   color: var(--alt-color-3);
   background-color: var(--white);
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
   gap: var(--gap-point5rem);
   position: relative;
}

.home-button:link,
.home-button:visited {
   color: var(--alt-color-3);
   text-decoration: none;
   position: absolute;
   top: 0;
   right: 0;
   padding: 5px 10px;
   transition: all 0.2s;
}

.home-button:hover,
.home-button:active {
   color: var(--main-color-3);
   text-decoration: underline;
}

.form h1 {
   font-size: var(--main-header);
   font-family: "Lora", serif;
   font-weight: 700;
}

.error_display {
   display: none;
}

form {
   width: 100%;
   display: flex;
   flex-flow: column;
   gap: var(--gap-1rem);
}

.email_field,
.password_field {
   display: flex;
   flex-flow: column;
}

.email_field label,
.password_field label {
   width: fit-content;
   display: flex;
   align-items: center;
   gap: var(--gap-point5rem);
}

.view_toggle {
   display: flex;
   align-items: center;
   justify-content: center;
}

.email_field input,
.password_field input {
   padding: 5px;
   font-size: 1rem;
   background-color: transparent;
   border: 1px solid transparent;
   border-bottom: 2px solid var(--alt-background-color-2);
   transition: all 0.1s;
}

.email_field input:focus-visible,
.password_field input:focus-visible {
   background-color: transparent;
   border: 1px solid transparent;
   border-bottom: 2px solid var(--main-color-3);
   transition: all 0.1s;
   outline: transparent;
}

.login_option {
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
   gap: var(--gap-point5rem);
}

.login_option input,
.login_option a {
   width: 100%;
   padding: 5px;
   font-size: 1rem;
   text-decoration: none;
   cursor: pointer;
   color: var(--alt-color-3);
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   transition: all 0.25s;
}

.login_option input {
   border: 2px solid transparent;
   color: var(--white);
   background-color: var(--main-color-3);
}

.login_option input:hover {
   border: 2px solid var(--main-color-3);
   color: var(--alt-color-3);
   background-color: var(--white);
}

.login_option a:hover {
   background-color: rgba(218, 165, 32, 0.2);
}

.login_option a img {
   height: 70%;
   aspect-ratio: 1/1;
}

.register_link {
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
}

.register_link a {
   color: var(--alt-color-3);
}

.register_link a:hover,
.register_link a:active {
   color: var(--main-color-3);
}

@media screen and (min-width: 720px) {
   .form {
      padding-inline: var(--laptop-padding-inline);
   }
}

@media screen and (min-width: 1280px) {
   main {
      position: relative;
   }

   .form {
      position: absolute;
      right: 15%;
   }
}