main {
   width: 80%;
   height: 100%;
   border-radius: 5px;

   gap: 10px;
   display: flex;
}
   .main_left {
      width: 70%;

      gap: 10px;
      display: flex;
      flex-direction: column;
   }
      .main_title {
         height: 5%;
         width: 40%;
         padding-left: 10px;

         display: flex;
         align-items: center;
      }
         .main_title h1 {
            height: 100%;
            display: flex;
            align-items: center;
         }

      .applicant_database {
         width: 100%;
         height: 55%;
         padding: 10px;
         border-radius: 5px;
         border: 1px solid goldenrod;
         
         gap: 10px;
         display: flex;
         align-items: center;
         flex-direction: column;
         justify-content: center;
      }
         .applicant_navigator {
            width: 100%;
            height: 10%;

            display: flex;
            align-items: center;
            justify-content: space-between;
         }
            .toolkit {
               width: 60%;
               gap: 10px;
               display: flex;
               align-items: center;
               justify-content: space-between;
            }
               .pagination {
                  width: 50%;
                  font-size: 0.8rem;
               }
                  .pagination a {
                     padding: 0px 3px;
                     transition: all 0.25s;
                     text-decoration: none;
                  }
                  .pagination a.active {
                     color: gold;
                  }
                  .pagination a:hover {
                     color: goldenrod;
                     transition: all 0.25s;
                     text-decoration: underline;
                  }
               .search_bar {
                  width: 50%;
               }
                  .search_bar input {
                     width: 100%;
                     height: 30px;
                     border-radius: 5px;
                     text-indent: 10px;
                     background-color: transparent;
                     border: 1px solid rgb(149, 149, 149, 0.8);
                  }     
         .applicant_card_container {
            width: 100%;
            height: 90%;
            flex-wrap: wrap;
            overflow-y: scroll;

            gap: 10px;
            display: flex;
            justify-content: flex-start;
         }
            .applicant_card {
               width: 24%;
               height: 85%;
               border-radius: 5px;
               padding: 5px;
               border: 1px solid rgb(72, 72, 72);

               display: flex;
               align-items: center;
               flex-direction: column;
               justify-content: flex-start;
            }
            
               .applicant_picture {
                  width: 100%;
                  aspect-ratio: 1/1;
                  border-radius: 5px;
                  position: relative;

                  background-size: cover;
                  background-position: center;
                  background-repeat: no-repeat;
               }

                  .applicant_nameplate {
                     bottom: 0px;
                     width: 100%;
                     padding: 5px;
                     position: absolute;
                     background-color: rgb(0, 0, 0, 0.5);
                  }
                     .applicant_fullname{
                        font-size: 1rem;
                     }
                     .submit_date {
                        font-size: 0.8rem;
                     }
                  .other_details,
                  .email_address {
                     width: 100%;
                     font-size: 0.8rem;
                  }

                  .other_details {
                     height: 10%;

                     display: flex;
                     align-items: center;
                     justify-content: space-between;
                  }
                  .email_address {
                     height: 15%;
                     word-wrap: break-word;
                     text-decoration: underline;
                  }

      .demographic_stats {
         width: 100%;
         height: 40%;
         padding: 10px;
         overflow: hidden;
         border-radius: 5px;
         border: 1px solid teal ;
      }
         .demographic_navigator {
            width: 100%;
            height: 15%;

            display: flex;
            align-items: center;
            justify-content: space-between;
         }
            .demographic_toolkit {
               width: 60%;
               gap: 10px;
               display: flex;
               align-items: center;
               justify-content: space-between;
            }
            .demographic_toolkit button {
               width: 150px;
               height: 30px;
               border-radius: 5px;
               background-color: transparent;
               border: 1px solid rgb(149, 149, 149, 0.8);
            }
            #chart_div {
               width: 100%;
               height: 250px;
               
               align-items: center;
               justify-content: center;
            }
         .user_card_container {
            width: 100%;
            height: 90%;
            flex-wrap: wrap;
            overflow-y: scroll;

            gap: 10px;
            display: flex;
            justify-content: flex-start;
         }
            .user_cards {
               width: 18%;
               height: 85%;
               border-radius: 5px;
               padding: 5px;
               border: 1px solid rgb(72, 72, 72);

               display: flex;
               align-items: center;
               flex-direction: column;
               justify-content: flex-start;
            }
               .demographic_picture {
                  width: 65%;
                  border-radius: 5px;
                  aspect-ratio: 1/1;
                  background-size: cover;
                  background-position: center;
                  background-repeat: no-repeat;
               }
               .user_cards p {
                  width: 100%;
                  font-size: 0.8rem;
                  word-wrap: break-word;
               }

   .main_right {
      width: 30%;
      height: 100%;

      gap: 10px;
      display: flex;
      flex-direction: column;
   }
      .post_stats {
         width: 100%;
         height: 40%;
         padding: 10px;
         border-radius: 5px;
         border: 1px solid red;
      }
      .admin_profile {
         width: 100%;
         height: 25%;
         padding: 10px;
         border-radius: 5px;
         border: 1px solid lightgreen;
      }
         .admin_profile h3 {
            width: 100%;
            height: 30px;
         }
         .admin_profile_body {
            width: 100%;
            height: 80%;
            display: flex;

            gap: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
         }
            .admin_pfp {
               width: 30%;
               aspect-ratio: 1/1;
            }
               .admin_pfp img {
                  width: 100%;
                  height: 100%;
                  border-radius: 10px;
                  box-shadow: 0px 0px 10px rgb(255, 255, 255, 0.3);
               }
            .admin_info {
               width: 70%;
               word-wrap: break-word;
            }
               .admin_info p {
                  font-size: 0.8rem;
               }
               .admin_info p b {
                  color: green;
               }
      .admin_stats {
         width: 100%;
         height: 35%;
         padding: 10px;
         border-radius: 5px;
         border: 1px solid lightblue;
      }