/* MAIN SECTION */
main {
   color: var(--alt-color-3);
}

/* HERO SECTION */
.hero-parent {
   width: 100dvw;
   height: 100dvh;
   background-image: url(/Photos/california.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.hero-container {
   width: 100%;
   height: 100%;
   background-color: rgba(0, 77, 77, 0.75);
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
}

.hero-content {
   width: 100%;
   height: 100%;
   padding-inline: var(--mobile-padding-inline);
   color: var(--white);
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
}

.hero-content h1 {
   font-size: var(--hero-header);
   font-family: 'Lora', serif;
   font-weight: 700;
}

.hero-content h1 span {
   color: var(--main-color);
   font-family: 'Lora', serif;
}

.hero-content p {
   line-height: 1.6;
}

/* SERVICE SECTION */
.service-parent {
   width: 100dvw;
   height: max-content;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
}

.service-container {
   width: 100%;
   height: 100%;
   padding: 50px 0;
   display: flex;
   flex-flow: column;
   gap: var(--gap-1rem);
}

.service-header {
   text-align: center;
}

.service-header h1 {
   font-size: var(--main-header);
   color: var(--main-color-3);
}

.service-content-container {
   width: 100%;
   height: 100%;
   padding-inline: var(--mobile-padding-inline);
   display: flex;
   flex-flow: column;
   gap: var(--gap-3rem);
}

.service-content {
   width: 100%;
   height: max-content;
   border-radius: 10px;
   background-color: var(--main-color-3);
   display: flex;
   flex-flow: column;
   gap: var(--gap-1rem);
}

.service-content-header {
   width: 100%;
   aspect-ratio: 16/9;
}

.service-content-header img {
   width: 100%;
   height: 100%;
   border-radius: 10px 10px 0 0;
   object-fit: cover;
   object-position: center;
}

.service-content-description {
   width: 100%;
   height: 100%;
   padding: 0 15px 15px 15px;
   display: flex;
   flex-flow: column;
}

.service-content-description h1 {
   font-size: var(--main-subheader);
}

.service-content-description p {
   margin-bottom: var(--gap-2rem);
   line-height: 1.6;
}

.service-content-description-button {
   width: 100%;
   height: max-content;
   padding: 5px;
   margin-top: auto;
   background-color: var(--alt-color-2);
   color: var(--white);
   border-radius: 5px;
   text-decoration: none;
   text-align: center;
   transition: var(--gen-transition);
}

.service-content-description-button:hover,
.service-content-description-button:active {
   background-color: var(--white);
   color: var(--alt-color-3);
}

/* STATEMENT SECTION */
.statement-parent {
   width: 100dvw;
   height: 80dvh;
   background-image: url(/Photos/takeoff.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.statement-container {
   width: 100%;
   height: 100%;
   padding: 50px;
   padding-inline: var(--mobile-padding-inline);
   background-color: rgba(0, 77, 77, 0.7);
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
}

.statement-content {
   color: var(--white);
}

.statement-content span {
   color: var(--main-color);
}

footer {
   margin-top: 0 !important;
}

@media screen and (min-width: 720px) {

   /* HERO SECTION */
   .hero-parent {
      height: 90dvh;
   }

   .hero-content {
      padding-inline: var(--tablet-padding-inline);
      gap: var(--gap-point5rem);
   }

   .hero-content h1 {
      font-size: var(--tablet-hero-header);
   }

   .hero-content p {
      font-size: var(--tablet-hero-paragraph);
   }

   /* SERVICE SECTION */
   .service-header h1 {
      font-size: var(--hero-header);
   }

   .service-content-container {
      padding-inline: var(--tablet-padding-inline);
   }

   .service-content-header {
      aspect-ratio: 16/6;
   }

   .service-content-header img {
      object-position: top;
   }

   /* STATEMENT SECTION */
   .statement-container {
      padding: 100px;
      padding-inline: var(--tablet-padding-inline);
   }

   .statement-content {
      font-size: var(--main-subheader);
   }
}

@media screen and (min-width: 980px) {

   /* HERO SECTION */
   .hero-parent {
      height: 100dvh;
   }

   .hero-content {
      max-width: 1280px;
      padding-inline: var(--laptop-padding-inline);
   }

   .hero-content h1 {
      font-size: var(--laptop-hero-header);
   }

   /* SERVICE SECTION */
   .service-container {
      padding: 75px 0;
   }

   .service-content-container {
      padding-inline: var(--laptop-padding-inline);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: var(--gap-2rem);
   }

   .service-content {
      height: 100%;
   }

   .service-content-header {
      aspect-ratio: 16/9;
   }

   /* STATEMENT SECTION */

   .statement-container {
      padding: 100px;
      padding-inline: var(--laptop-padding-inline);
   }

   .statement-content {
      max-width: 1280px;
   }
}