/* MAIN SECTION */
main {
   color: var(--alt-color-3);
}

/* HERO SECTION */
.hero-parent {
   width: 100dvw;
   height: 100dvh;
   background-image: url(/Photos/california.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
}

.hero-container {
   width: 100%;
   height: 100%;
   padding: var(--mobile-padding);
   color: var(--white);
   background-color: rgba(0, 77, 77, 0.75);
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
}

.hero-content {
   width: 100%;
   height: 100%;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
}

.hero-content h1 {
   font-size: var(--hero-header);
}

.hero-content h1 span {
   color: var(--main-color);
}

/* SERVICE SECTION */
.service-parent {
   width: 100dvw;
   height: max-content;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
}

.service-container {
   width: 100%;
   height: 100%;
   padding: 50px 10px;
   display: flex;
   flex-flow: column;
   gap: var(--div-gap);
}

.service-header {
   width: 100%;
   height: max-content;
   text-align: center;
}

.service-header h1 {
   font-size: var(--main-header);
   color: var(--main-color-3);
}

.service-card-container {
   width: 100%;
   height: 100%;
   display: flex;
   flex-flow: column;
   gap: calc(var(--div-gap) + 1rem);
}

.service-card {
   width: 100%;
   height: max-content;
   background-color: var(--main-color-3);
   border-radius: 10px;
   display: flex;
   flex-flow: column;
   gap: var(--div-gap);
}

.service-card-header {
   width: 100%;
   aspect-ratio: 16/9;
}

.service-card-header img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
   border-radius: 10px 10px 0 0;
}

.service-card-description {
   width: 100%;
   height: 100%;
   padding: 0 15px 15px 15px;
   display: flex;
   flex-flow: column;
}

.service-card-description h1 {
   font-size: var(--main-sub-header);
}

.service-card-description p {
   margin-bottom: var(--div-gap);
}

.service-card-description-button {
   width: 100%;
   height: max-content;
   padding: 5px;
   margin-top: auto;
   background-color: var(--alt-color-2);
   color: var(--white);
   border-radius: 5px;
   text-decoration: none;
   text-align: center;
   transition: var(--gen-transition);
}

.service-card-description-button:hover,
.service-card-description-button:active {
   background-color: var(--white);
   color: var(--alt-color-3);
}

/* STATEMENT SECTION */
.statement-parent {
   width: 100dvw;
   height: 75dvh;
   background-image: url(/Photos/takeoff.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
}

.statement-container {
   width: 100%;
   height: 100%;
   padding: 50px 10px;
   background-color: rgba(0, 77, 77, 0.7);
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
}

.statement-content {
   color: var(--white);
}

.statement-content span {
   color: var(--main-color);
}

footer {
   margin-top: 0 !important;
}

@media screen and (min-width: 720px) {

   /* HERO SECTION */
   .hero-parent {
      height: 80dvh;
   }

   .hero-container {
      padding: var(--tablet-padding);
   }

   .hero-content h1 {
      font-size: calc(var(--hero-header) + 1rem);
   }

   .hero-content p {
      font-size: var(--footer-header);
   }

   /* SERVICE SECTION */
   .service-container {
      padding: 50px 25px;
   }

   .service-header h1 {
      font-size: var(--hero-header);
   }

   .service-card-header {
      aspect-ratio: 16/7;
   }

   .service-card-description {
      padding: 0 20px 20px 20px;
   }

   /* STATEMENT SECTION */
   .statement-container {
      padding: 100px 25px;
   }

   .statement-content {
      font-size: var(--footer-header);
   }
}

@media screen and (min-width: 980px) {

   /* HERO SECTION */
   .hero-parent {
      height: 100dvh;
   }

   .hero-container {
      padding: var(--laptop-padding);
   }

   .hero-content {
      max-width: 1280px;
   }

   .hero-content h1 {
      font-size: calc(var(--hero-header) + 2.25rem);
   }

   /* SERVICE SECTION */
   .service-container {
      padding: 50px 75px;
   }

   .service-card-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
   }

   .service-card {
      height: 100%;
   }

   .service-card-header {
      aspect-ratio: 16/9;
   }

   /* STATEMENT SECTION */

   .statement-container {
      padding: 100px 75px;
   }

   .statement-content {
      max-width: 1280px;
   }
}