b {
   color: red;
}

body {
   width: 100dvw;
   height: 100dvh;
   background-image: url(/Photos/login-register.jpg);
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
}

main {
   width: 100%;
   height: 100%;
   background-color: rgba(0, 77, 77, 0.75);
   padding: 25px;
   padding-inline: var(--mobile-padding-inline);
   display: flex;
   align-items: center;
   justify-content: center;
}

.form {
   width: 100%;
   max-width: 480px;
   padding: 30px;
   border-radius: 5px;
   border: 2px solid var(--main-color-3);
   color: var(--alt-color-3);
   background-color: var(--white);
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
   gap: var(--gap-point5rem);
   position: relative;
}

.home-button:link,
.home-button:visited {
   color: var(--alt-color-3);
   text-decoration: none;
   position: absolute;
   top: 0;
   right: 0;
   padding: 5px 10px;
   transition: all 0.2s;
}

.home-button:hover,
.home-button:active {
   color: var(--main-color-3);
   text-decoration: underline;
}

.form h1 {
   font-size: var(--main-header);
   font-family: "Lora", serif;
   font-weight: 700;
}

.error_handler:empty {
   display: none;
}

.error_handler {
   font-weight: 300;
   color: rgb(255, 74, 74);
}

form {
   width: 100%;
   display: flex;
   flex-flow: column;
   gap: var(--gap-1rem);
}

.personal-info {
   display: flex;
   flex-flow: column;
   gap: var(--gap-point5rem);
}

.name_fields label,
.password_fields label,
.pfp_input label {
   width: fit-content;
   display: flex;
   align-items: center;
   gap: var(--gap-point5rem);
}

.name_inputs,
.password_inputs,
.miscellaneous_inputs {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: var(--gap-point5rem);
}

.name_inputs input,
.password_inputs input,
.miscellaneous_inputs input,
.email_field input {
   width: 100%;
   padding: 5px;
   font-size: 1rem;
   background-color: transparent;
   border: 1px solid transparent;
   border-bottom: 2px solid var(--alt-background-color-2);
   transition: all 0.1s;
}

.name_inputs input:focus-visible,
.password_inputs input:focus-visible,
.miscellaneous_inputs input:focus-visible,
.email_field input:focus-visible {
   background-color: transparent;
   border: 1px solid transparent;
   border-bottom: 2px solid var(--main-color-3);
   transition: all 0.1s;
   outline: transparent;
}

.file_input {
   margin-bottom: 0;
}

.file_input label {
   font-weight: bold;
}

.pfp_field {
   position: relative;
   border: 2px dashed #ccc;
   text-align: center;
   padding: 25px;
   cursor: pointer;
   word-wrap: break-word;
}

.pfp_field.uploaded {
   border-color: teal;
}

.file_input_field {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
}

.file_name:empty {
   display: none;
}

.file_name {
   font-size: 12px;
   margin-top: -10px;
}

.g-recaptcha {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

input[type=submit] {
   width: 100%;
   padding: 5px;
   font-size: 1rem;
   text-decoration: none;
   color: var(--white);
   cursor: pointer;
   border: 2px solid transparent;
   border-radius: 5px;
   background-color: var(--main-color-3);
   transition: all 0.25s;
}

input[type=submit]:hover {
   border: 2px solid var(--main-color-3);
   color: var(--alt-color-3);
   background-color: var(--white);
}

@media screen and (min-width: 720px) {
   main {
      padding-inline: var(--laptop-padding-inline);
   }
}

@media screen and (min-width: 1280px) {
   main {
      position: relative;
   }

   .form {
      position: absolute;
      right: 15%;
   }
}